
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    padding-inline: 200px;
    background-color: #1F2937;
    margin: 0;
}

.header, h1{
    display: flex;
    flex: 1;
    gap: 16px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}


a {
    font-size: 18px;
    color: #e5e5e5;
    font-weight: 600;
    text-decoration: none;
}
